.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  img {
    width: 145px;
    min-height: 47px;
  }


  &-links {
    display: flex;
    gap: 1em;
    font-size: 14px;
    font-weight: 500;
    transition: color 200ms;

    &-link-active {
      text-decoration: underline;
    }

    a {
      color: #FF6060;
    }

    &:hover {
      color: #ff3939;

    }
  }
}
